absl-py==2.1.0 ; python_version == "3.8"
altair==5.3.0 ; python_version == "3.8"
anyio==3.7.1 ; python_version == "3.8"
astunparse==1.6.3 ; python_version == "3.8"
attrs==23.2.0 ; python_version == "3.8"
audioread==3.0.1 ; python_version == "3.8"
basic-pitch==0.2.6 ; python_version == "3.8"
blinker==1.8.2 ; python_version == "3.8"
cachetools==5.3.3 ; python_version == "3.8"
certifi==2024.7.4 ; python_version == "3.8"
cffi==1.16.0 ; python_version == "3.8"
charset-normalizer==3.3.2 ; python_version == "3.8"
click==7.1.2 ; python_version == "3.8"
decorator==5.1.1 ; python_version == "3.8"
exceptiongroup==1.2.1 ; python_version == "3.8"
ffmpeg-python==0.2.0 ; python_version == "3.8"
flask==2.0.3 ; python_version == "3.8"
flatbuffers==1.12 ; python_version == "3.8"
future==1.0.0 ; python_version == "3.8"
gast==0.4.0 ; python_version == "3.8"
gitdb==4.0.11 ; python_version == "3.8"
gitpython==3.1.43 ; python_version == "3.8"
google-auth-oauthlib==0.4.6 ; python_version == "3.8"
google-auth==2.31.0 ; python_version== "3.8"
google-pasta==0.2.0 ; python_version == "3.8"
grpcio==1.64.1 ; python_version== "3.8"
h11==0.12.0 ; python_version == "3.8"
h2==4.1.0 ; python_version == "3.8"
h5py==3.11.0 ; python_version == "3.8"
hpack==4.0.0 ; python_version == "3.8"
httpcore==0.13.7 ; python_version == "3.8"
httpx[http2]==0.19.0 ; python_version == "3.8"
hyperframe==6.0.1 ; python_version == "3.8"
idna==3.7 ; python_version == "3.8"
importlib-metadata==8.0.0 ; python_version == "3.8"
importlib-resources==6.4.0 ; == "3.8"
itsdangerous==2.2.0 ; python_version== "3.8"
jinja2==3.1.4 ; python_version == "3.8"
joblib==1.4.2 ; python_version == "3.8"
jsonschema-specifications==2023.12.1 ; python_version == "3.8"
jsonschema==4.22.0 ; python_version == "3.8"
keras-preprocessing==1.1.2 ; python_version == "3.8"
keras==2.9.0 ; python_version == "3.8"
lazy-loader==0.4 ; python_version == "3.8"
libclang==18.1.1 ; python_version == "3.8"
librosa==0.10.2 ; python_version == "3.8"
llvmlite==0.41.1 ; python_version == "3.8"
markdown-it-py==3.0.0 ; python_version == "3.8"
markdown==3.6 ; python_version == "3.8"
markupsafe==2.1.5 ; python_version == "3.8"
mdurl==0.1.2 ; python_version == "3.8"
mido==1.2.10 ; python_version == "3.8"
mir-eval==0.7 ; python_version == "3.8"
msgpack==1.0.8 ; python_version == "3.8"
norbert==0.2.1 ; python_version == "3.8"
numba==0.58.0 ; python_version == "3.8"
numpy==1.21.6 ; python_version == "3.8"
oauthlib==3.2.2 ; python_version == "3.8"
opt-einsum==3.3.0 ; python_version == "3.8"
packaging==24.1 ; python_version == "3.8"
pandas==1.5.3 ; python_version == "3.8"
pillow==10.4.0 ; python_version== "3.8"
pkgutil-resolve-name==1.3.10 ; == "3.8"
platformdirs==4.2.2 ; python_version == "3.8"
pooch==1.8.2 ; python_version == "3.8"
pretty-midi==0.2.10 ; python_version == "3.8"
protobuf==3.20.1 ; python_version == "3.8"
pyarrow==16.1.0 ; python_version == "3.8"
pyasn1-modules==0.4.0 ; python_version == "3.8"
pyasn1==0.6.0 ; python_version == "3.8"
pycparser==2.22 ; python_version == "3.8"
pydeck==0.9.1 ; python_version == "3.8"
pydub==0.25.1 ; python_version == "3.8"
pygments==2.18.0 ; python_version == "3.8"
pysoundfile==0.8.1 ; python_version == "3.8"
python-dateutil==2.9.0.post0 ; python_version == "3.8"
pytz==2024.1 ; python_version == "3.8"
referencing==0.35.1 ; python_version == "3.8"
requests-oauthlib==2.0.0 ; python_version == "3.8"
requests==2.32.3 ; python_version == "3.8"
resampy==0.4.3 ; python_version == "3.8"
rfc3986[idna2008]==1.5.0 ; python_version == "3.8"
rich==13.7.1 ; python_version == "3.8"
rpds-py==0.18.1 ; python_version == "3.8"
rsa==4.9 ; python_version == "3.8"
scikit-learn==1.3.2 ; python_version == "3.8"
scipy==1.10.1 ; python_version == "3.8"
setuptools==70.2.0 ; python_version == "3.8"
six==1.16.0 ; python_version == "3.8"
smmap==5.0.1 ; python_version == "3.8"
sniffio==1.3.1 ; python_version == "3.8"
soundfile==0.12.1 ; python_version == "3.8"
soxr==0.3.7 ; python_version == "3.8"
spleeter==2.4.0 ; python_version == "3.8"
streamlit==1.36.0 ; python_version == "3.8"
tenacity==8.5.0 ; python_version == "3.8"
tensorboard-data-server==0.6.1 ; python_version == "3.8"
tensorboard-plugin-wit==1.8.1 ; python_version == "3.8"
tensorboard==2.9.0 ; python_version == "3.8"
tensorflow-estimator==2.9.0 ; python_version == "3.8"
tensorflow-io-gcs-filesystem==0.26.0 ; python_version == "3.8"
tensorflow-macos==2.9.0 ; python_version == "3.8" and platform_machine == "arm64"
tensorflow==2.9.0 ; python_version == "3.8"
termcolor==2.4.0 ; python_version == "3.8"
threadpoolctl==3.5.0 ; python_version == "3.8"
toml==0.10.2 ; python_version == "3.8"
toolz==0.12.1 ; python_version == "3.8"
tornado==6.4.1 ; python_version == "3.8"
typer==0.3.2 ; python_version == "3.8"
typing-extensions==4.12.2 ; python_version == "3.8"
urllib3==2.2.2 ; python_version == "3.8"
watchdog==4.0.1 ; python_version == "3.8" and platform_system != "Darwin"
werkzeug==3.0.3 ; python_version == "3.8"
wheel==0.43.0 ; python_version == "3.8"
wrapt==1.16.0 ; python_version == "3.8"
zipp==3.19.2 ; python_version == "3.8"
