basic-pitch==0.2.6
librosa==0.8.1
audioread==2.1.9
decorator==4.3.0
joblib==1.1.1
lazy-loader==0.1
packaging==21.2
msgpack==1.0.2
numba==0.54.1
llvmlite==0.41.0
numpy==1.21.6
pooch==1.5.2
platformdirs==2.5.1
requests==2.26.0
certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.4
urllib3==1.26.8
scikit-learn==0.24.2
scipy==1.7.1
soundfile==0.12.1
cffi==1.15.0
pycparser==2.21
soxr==0.3.3
typing-extensions==4.1.1
mir-eval==0.6
future==0.18.2
six==1.16.0
pretty-midi==0.2.9
mido==1.2.10
resampy==0.2.2
importlib-resources==5.3.0
zipp==3.7.0
tensorflow==2.6.0
absl-py==0.14.1
astunparse==1.6.3
flatbuffers==2.0
gast==0.4.0
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
keras==2.8.0
keras-preprocessing==1.1.2
libclang==13.0.0
opt-einsum==3.3.0
protobuf==3.19.4
setuptools==59.7.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.9.0
werkzeug==2.2.3
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.21.1
termcolor==1.1.0
wrapt==1.14.1
tensorflow-macos==2.6.0
mypy-extensions==0.4.3
pathspec==1.9.0
black==21.12b0
tomli==1.3.1
ffmpeg-python==0.2.0
flake8==5.0.4
flask==2.0.3
itsdangerous==2.0.2
jinja2==3.0.4
markupsafe==2.1.3
httpx==0.19.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
httpcore==0.13.9
anyio==3.3.3
exceptiongroup==0.1.2
sniffio==1.2.0
rfc3986==1.5.0
isort==5.13.2
pandas==1.5.3
python-dateutil==2.8.2
pytz==2020.1
musdb==0.4.2
pyaml==20.4.0
pyyaml==5.5.1
stempeg==0.2.3
tqdm==4.62.3
colorama==0.4.4
museval==0.4.1
jsonschema==4.5.5
attrs==22.2.1
jsonschema-specifications==2023.03.6
referencing==0.31.0
rpds-py==0.7.0
simplejson==3.19.0
sndfile==0.2.0
spleeter==2.4.0
norbert==0.2.1
pytest==6.2.5
atomicwrites==1.4.0
pluggy==1.0.0
py==1.11.0
sndfile==0.12.1
pytest-forked==1.6.0
pytest>=3.10
iniconfig==1.1.2
sndfile==0.2.0
pydub==0.25.1
pysoundfile==0.8.1